.container-about {
    text-align: center;
    margin-top: 5rem;

}

.about-section {
    display: flex;
    margin-top: 5rem;
}

.left-section {
    margin: 0;
    /* background-color: red; */
    width: 50%;
}

.right-section {
    margin: 0;
    width: 50%;
    margin-left: 5%;
    text-align: start;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.my-work {
    display: flex;
    gap: 10px;
    margin-top: 2rem;
}

.my-work div:first-child {
    width: 50%;

    /* background-color: red; */
}

.my-work div:first-child ul li {
    list-style: none;
    margin: 20px;

    /* background-color: red; */
}

.my-work div:nth-child(2) {
    width: 50%;

    /* background-color:green; */
}

.my-work div:nth-child(2) ul li {
    list-style: none;
    margin: 20px;

    /* background-color:green; */
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--primary-color7);
    text-decoration: none;
}

